<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="10">
<Settings class_id="0" tracking_level="0" version="21">
	<mWindowTopLeftXPosition>560</mWindowTopLeftXPosition>
	<mWindowTopLeftYPosition>296</mWindowTopLeftYPosition>
	<mWindowWidth>800</mWindowWidth>
	<mWindowHeight>578</mWindowHeight>
	<mMaximixed>1</mMaximixed>
	<mLocale class_id="1" tracking_level="0" version="0">
		<first>en-us</first>
		<second>English, United States</second>
	</mLocale>
	<mLogicHardwareHasRun>1</mLogicHardwareHasRun>
	<mRunCount>8</mRunCount>
	<mLowerSampleRateOnError>0</mLowerSampleRateOnError>
	<mDontShowScreenshotRegionMessageBox>0</mDontShowScreenshotRegionMessageBox>
	<mAllowInternetAccess>0</mAllowInternetAccess>
	<mAskToChangeChannelNamesOnAnalyzerEdit>1</mAskToChangeChannelNamesOnAnalyzerEdit>
	<mProgressShowMoreDetail>1</mProgressShowMoreDetail>
	<mUsePngByDefault>1</mUsePngByDefault>
	<mShowArrowKeysNotification>1</mShowArrowKeysNotification>
	<mDefaultSaveAsPath>/home/vasilek/Загрузки</mDefaultSaveAsPath>
	<mErrorFilesToIgnore class_id="2" tracking_level="0" version="0">
		<count>0</count>
		<item_version>0</item_version>
	</mErrorFilesToIgnore>
	<mAnimateZoom>1</mAnimateZoom>
	<mPostCaptureViewBehavior>1</mPostCaptureViewBehavior>
	<mUseAeroGlass>1</mUseAeroGlass>
	<mAnalyzerExportDefaultExtension class_id="3" tracking_level="0" version="0">
		<count>0</count>
		<item_version>0</item_version>
	</mAnalyzerExportDefaultExtension>
	<mDeveloperAnalyzerFolder></mDeveloperAnalyzerFolder>
	<mCaptureChannelSettings class_id="4" tracking_level="0" version="0">
		<count>8</count>
		<item_version>0</item_version>
		<item class_id="5" tracking_level="0" version="0">
			<first class_id="6" tracking_level="0" version="21">
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>0</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second class_id="7" tracking_level="0" version="21">
				<mR>0</mR>
				<mG>0</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>0</mDisplayIndex>
				<mLabel>Channel 0</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>2</mValueType>
				<mValue>1</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>1</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>139</mR>
				<mG>69</mG>
				<mB>19</mB>
				<mA>255</mA>
				<mDisplayIndex>1</mDisplayIndex>
				<mLabel>Channel 1</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>1</mValueType>
				<mValue>0</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>2</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>255</mR>
				<mG>0</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>2</mDisplayIndex>
				<mLabel>Channel 3</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>2</mValueType>
				<mValue>1</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>3</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>249</mR>
				<mG>160</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>3</mDisplayIndex>
				<mLabel>CS</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>1</mValueType>
				<mValue>0</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>4</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>255</mR>
				<mG>255</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>4</mDisplayIndex>
				<mLabel>DC</mLabel>
				<mMinimized>0</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>2</mValueType>
				<mValue>1</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>5</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>0</mR>
				<mG>255</mG>
				<mB>0</mB>
				<mA>255</mA>
				<mDisplayIndex>5</mDisplayIndex>
				<mLabel>reset</mLabel>
				<mMinimized>1</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>1</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>1</mValueType>
				<mValue>0</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>6</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>0</mR>
				<mG>0</mG>
				<mB>255</mB>
				<mA>255</mA>
				<mDisplayIndex>6</mDisplayIndex>
				<mLabel>Channel 6</mLabel>
				<mMinimized>1</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>2</mValueType>
				<mValue>1</mValue>
			</second>
		</item>
		<item>
			<first>
				<mDeviceId>11332172975216494139</mDeviceId>
				<mChannelIndex>7</mChannelIndex>
				<mDataType>1</mDataType>
			</first>
			<second>
				<mR>160</mR>
				<mG>32</mG>
				<mB>240</mB>
				<mA>255</mA>
				<mDisplayIndex>7</mDisplayIndex>
				<mLabel>Channel 7</mLabel>
				<mMinimized>1</mMinimized>
				<mInvertData>0</mInvertData>
				<mSizeScale>1</mSizeScale>
				<mSelected>0</mSelected>
				<mEnabled>0</mEnabled>
				<mValueType>2</mValueType>
				<mValue>1</mValue>
			</second>
		</item>
	</mCaptureChannelSettings>
	<mCaptureMetaDataPanelSettings class_id="8" tracking_level="0" version="21">
		<mShowWidth>1</mShowWidth>
		<mShowPeriod>1</mShowPeriod>
		<mShowDutyCycle>0</mShowDutyCycle>
		<mShowFrequency>1</mShowFrequency>
		<mShowByte>0</mShowByte>
		<mShowTimingMarkers>1</mShowTimingMarkers>
		<mShowError>0</mShowError>
		<mT1Active>0</mT1Active>
		<mT2Active>0</mT2Active>
		<mT1Sample>0</mT1Sample>
		<mT2Sample>0</mT2Sample>
	</mCaptureMetaDataPanelSettings>
	<mCaptureMinimizeChannelLabels>0</mCaptureMinimizeChannelLabels>
	<mCaptureHideFinders>0</mCaptureHideFinders>
	<mDisplayBase>3</mDisplayBase>
	<mCapturePreTriggerUnit>2</mCapturePreTriggerUnit>
	<mCapturePreTriggerBufferSize>100</mCapturePreTriggerBufferSize>
	<mDataExportSettings class_id="9" tracking_level="0" version="21">
		<mExportAllChannels>1</mExportAllChannels>
		<mChannelsToExport class_id="10" tracking_level="0" version="0">
			<count>0</count>
			<item_version>21</item_version>
		</mChannelsToExport>
		<mSamplesRageType>0</mSamplesRageType>
		<mStartingTime>0</mStartingTime>
		<mEndingTime>1</mEndingTime>
		<mStartingSampleInclusive>0</mStartingSampleInclusive>
		<mEndingSampleInclusive>0</mEndingSampleInclusive>
		<mDataExportType>1</mDataExportType>
		<mCsvIncludeHeaders>0</mCsvIncludeHeaders>
		<mCsvDelimiterType>0</mCsvDelimiterType>
		<mCsvOutputMode>1</mCsvOutputMode>
		<mCsvTimestampType>0</mCsvTimestampType>
		<mCsvDensity>0</mCsvDensity>
		<mCsvDisplayBase>2</mCsvDisplayBase>
		<mDataType>11995136</mDataType>
		<mBinaryOutputMode>0</mBinaryOutputMode>
		<mBinaryBitShifting>0</mBinaryBitShifting>
		<mBinaryOutputWordSize>0</mBinaryOutputWordSize>
		<mFileName></mFileName>
		<mAnalogSampleFormat>0</mAnalogSampleFormat>
	</mDataExportSettings>
	<mLogic16Use5Volts>0</mLogic16Use5Volts>
	<mAnalyzerSaveNames>
		<count>1</count>
		<item_version>0</item_version>
		<item>SPI</item>
	</mAnalyzerSaveNames>
	<mAnalyzerSaveData>
		<count>1</count>
		<item_version>0</item_version>
		<item>22 serialization::archive 10 17 SaleaeSpiAnalyzer 0 21 1104836276 1 1 18446744073709551615 4294967295 1 1104836276 0 1 1104836276 3 1 0 8 0 1 0</item>
	</mAnalyzerSaveData>
	<mAnalyzerSaveUseSystemDisplayBase>
		<count>1</count>
		<item>0</item>
	</mAnalyzerSaveUseSystemDisplayBase>
	<mAnalyzerSaveDisplayBase class_id="12" tracking_level="0" version="0">
		<count>1</count>
		<item_version>0</item_version>
		<item>4</item>
	</mAnalyzerSaveDisplayBase>
	<mLogic16ChannelSelection>
		<count>0</count>
		<item_version>0</item_version>
	</mLogic16ChannelSelection>
	<mLogic16SpecificChannels>883224598</mLogic16SpecificChannels>
	<mLogic16SpecificAnalyzer>4031648193</mLogic16SpecificAnalyzer>
	<mLogic16SpecificFinder>4031597050</mLogic16SpecificFinder>
	<mInstallationId>{868bc03e-ade2-4c4b-a2ca-6a32383ccc93}</mInstallationId>
	<mLogic16LedBehavior>3</mLogic16LedBehavior>
	<mEnableSingleClickToZoom>1</mEnableSingleClickToZoom>
	<mTcpSocketServerPort>10429</mTcpSocketServerPort>
	<mEnableSocketServer>0</mEnableSocketServer>
	<mAnalyzerSavedClientName>
		<count>1</count>
		<item_version>0</item_version>
		<item>SPI</item>
	</mAnalyzerSavedClientName>
	<mDeviceConfigurations class_id="14" tracking_level="0" version="0">
		<count>5</count>
		<item_version>1</item_version>
		<item class_id="15" tracking_level="0" version="1">
			<px class_id="16" tracking_level="1" version="21" object_id="_0">
				<mDeviceId class_id="17" tracking_level="0" version="21">
					<mDeviceId>1104836276</mDeviceId>
					<mDeviceType>4</mDeviceType>
				</mDeviceId>
				<mIsFake>1</mIsFake>
				<mName>Demo Logic 4</mName>
				<mLedRed>0</mLedRed>
				<mLedGreen>0</mLedGreen>
				<mLedBlue>255</mLedBlue>
				<mLogic16LedBehavior>3</mLogic16LedBehavior>
			</px>
		</item>
		<item>
			<px class_id_reference="16" object_id="_1">
				<mDeviceId>
					<mDeviceId>670740034</mDeviceId>
					<mDeviceType>5</mDeviceType>
				</mDeviceId>
				<mIsFake>1</mIsFake>
				<mName>Demo Logic 8</mName>
				<mLedRed>0</mLedRed>
				<mLedGreen>0</mLedGreen>
				<mLedBlue>255</mLedBlue>
				<mLogic16LedBehavior>3</mLogic16LedBehavior>
			</px>
		</item>
		<item>
			<px class_id_reference="16" object_id="_2">
				<mDeviceId>
					<mDeviceId>1425110818</mDeviceId>
					<mDeviceType>6</mDeviceType>
				</mDeviceId>
				<mIsFake>1</mIsFake>
				<mName>Demo Logic Pro 8</mName>
				<mLedRed>0</mLedRed>
				<mLedGreen>0</mLedGreen>
				<mLedBlue>255</mLedBlue>
				<mLogic16LedBehavior>3</mLogic16LedBehavior>
			</px>
		</item>
		<item>
			<px class_id_reference="16" object_id="_3">
				<mDeviceId>
					<mDeviceId>959134199</mDeviceId>
					<mDeviceType>7</mDeviceType>
				</mDeviceId>
				<mIsFake>1</mIsFake>
				<mName>Demo Logic Pro 16</mName>
				<mLedRed>0</mLedRed>
				<mLedGreen>0</mLedGreen>
				<mLedBlue>255</mLedBlue>
				<mLogic16LedBehavior>3</mLogic16LedBehavior>
			</px>
		</item>
		<item>
			<px class_id_reference="16" object_id="_4">
				<mDeviceId>
					<mDeviceId>11332172975216494139</mDeviceId>
					<mDeviceType>0</mDeviceType>
				</mDeviceId>
				<mIsFake>0</mIsFake>
				<mName>Logic</mName>
				<mLedRed>0</mLedRed>
				<mLedGreen>0</mLedGreen>
				<mLedBlue>255</mLedBlue>
				<mLogic16LedBehavior>3</mLogic16LedBehavior>
			</px>
		</item>
	</mDeviceConfigurations>
	<mCaptureDeviceId>
		<mDeviceId>11332172975216494139</mDeviceId>
		<mDeviceType>0</mDeviceType>
	</mCaptureDeviceId>
	<mSavedDeviceSettings class_id="18" tracking_level="0" version="0">
		<count>5</count>
		<item_version>0</item_version>
		<item class_id="19" tracking_level="0" version="0">
			<first>0</first>
			<second class_id="20" tracking_level="0" version="21">
				<mDigitalSampleRateHz>8000000</mDigitalSampleRateHz>
				<mAnalogSampleRateHz>0</mAnalogSampleRateHz>
				<mUseChannelDigital>
					<count>8</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelDigital>
				<mUseChannelAnalog>
					<count>8</count>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
				</mUseChannelAnalog>
				<mPerformanceOption>0</mPerformanceOption>
				<mSelectedVoltageOption>0</mSelectedVoltageOption>
				<mChannels>
					<count>8</count>
					<item_version>21</item_version>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>0</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
				</mChannels>
				<mDeviceId>
					<mDeviceId>11332172975216494139</mDeviceId>
					<mDeviceType>0</mDeviceType>
				</mDeviceId>
			</second>
		</item>
		<item>
			<first>4</first>
			<second>
				<mDigitalSampleRateHz>12000000</mDigitalSampleRateHz>
				<mAnalogSampleRateHz>6000000</mAnalogSampleRateHz>
				<mUseChannelDigital>
					<count>4</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelDigital>
				<mUseChannelAnalog>
					<count>4</count>
					<item>1</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
				</mUseChannelAnalog>
				<mPerformanceOption>0</mPerformanceOption>
				<mSelectedVoltageOption>0</mSelectedVoltageOption>
				<mChannels>
					<count>5</count>
					<item_version>21</item_version>
					<item>
						<mDeviceId>4</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>4</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>4</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>4</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>4</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
				</mChannels>
				<mDeviceId>
					<mDeviceId>1104836276</mDeviceId>
					<mDeviceType>4</mDeviceType>
				</mDeviceId>
			</second>
		</item>
		<item>
			<first>5</first>
			<second>
				<mDigitalSampleRateHz>1000000</mDigitalSampleRateHz>
				<mAnalogSampleRateHz>0</mAnalogSampleRateHz>
				<mUseChannelDigital>
					<count>8</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>0</item>
					<item>0</item>
				</mUseChannelDigital>
				<mUseChannelAnalog>
					<count>8</count>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
					<item>0</item>
				</mUseChannelAnalog>
				<mPerformanceOption>0</mPerformanceOption>
				<mSelectedVoltageOption>0</mSelectedVoltageOption>
				<mChannels>
					<count>6</count>
					<item_version>21</item_version>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>5</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
				</mChannels>
				<mDeviceId>
					<mDeviceId>670740034</mDeviceId>
					<mDeviceType>5</mDeviceType>
				</mDeviceId>
			</second>
		</item>
		<item>
			<first>6</first>
			<second>
				<mDigitalSampleRateHz>125000000</mDigitalSampleRateHz>
				<mAnalogSampleRateHz>12500000</mAnalogSampleRateHz>
				<mUseChannelDigital>
					<count>8</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelDigital>
				<mUseChannelAnalog>
					<count>8</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelAnalog>
				<mPerformanceOption>0</mPerformanceOption>
				<mSelectedVoltageOption>0</mSelectedVoltageOption>
				<mChannels>
					<count>16</count>
					<item_version>21</item_version>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>6</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
				</mChannels>
				<mDeviceId>
					<mDeviceId>1425110818</mDeviceId>
					<mDeviceType>6</mDeviceType>
				</mDeviceId>
			</second>
		</item>
		<item>
			<first>7</first>
			<second>
				<mDigitalSampleRateHz>25000000</mDigitalSampleRateHz>
				<mAnalogSampleRateHz>12500000</mAnalogSampleRateHz>
				<mUseChannelDigital>
					<count>16</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelDigital>
				<mUseChannelAnalog>
					<count>16</count>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
					<item>1</item>
				</mUseChannelAnalog>
				<mPerformanceOption>0</mPerformanceOption>
				<mSelectedVoltageOption>0</mSelectedVoltageOption>
				<mChannels>
					<count>32</count>
					<item_version>21</item_version>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>8</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>9</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>10</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>11</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>12</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>13</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>14</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>15</mChannelIndex>
						<mDataType>1</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>0</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>1</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>2</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>3</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>4</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>5</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>6</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>7</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>8</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>9</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>10</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>11</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>12</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>13</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>14</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
					<item>
						<mDeviceId>7</mDeviceId>
						<mChannelIndex>15</mChannelIndex>
						<mDataType>0</mDataType>
					</item>
				</mChannels>
				<mDeviceId>
					<mDeviceId>959134199</mDeviceId>
					<mDeviceType>7</mDeviceType>
				</mDeviceId>
			</second>
		</item>
	</mSavedDeviceSettings>
	<mSampleTimeSignificand>5</mSampleTimeSignificand>
	<mSampleUnitScale>1</mSampleUnitScale>
	<mCaptureTriggerSettings class_id="21" tracking_level="0" version="1">
		<px class_id="22" tracking_level="1" version="21" object_id="_5">
			<mTriggerType>0</mTriggerType>
			<mTriggerChannel>
				<mDeviceId>18446744073709551615</mDeviceId>
				<mChannelIndex>4294967295</mChannelIndex>
				<mDataType>1</mDataType>
			</mTriggerChannel>
			<mHighChannels class_id="23" tracking_level="0" version="0">
				<count>0</count>
				<item_version>21</item_version>
			</mHighChannels>
			<mLowChannels>
				<count>0</count>
				<item_version>21</item_version>
			</mLowChannels>
			<mPulseWidthMin>0</mPulseWidthMin>
			<mPulseWidthMax>1</mPulseWidthMax>
			<mMaximumPulseEnabled>1</mMaximumPulseEnabled>
		</px>
	</mCaptureTriggerSettings>
	<mInstantaneousSettings class_id="24" tracking_level="0" version="1">
		<px class_id="25" tracking_level="1" version="21" object_id="_6">
			<mWidth>1</mWidth>
			<mDutyCycle>0</mDutyCycle>
			<mFrequency>1</mFrequency>
			<mMinMaxVoltage>1</mMinMaxVoltage>
			<mPeakToPeakVoltage>1</mPeakToPeakVoltage>
			<mShowOnDisplay>1</mShowOnDisplay>
			<mPeriod>1</mPeriod>
			<mShowDigitalMeasurement>1</mShowDigitalMeasurement>
			<mShowAnalogMeasurement>0</mShowAnalogMeasurement>
			<mShowVoltageMeasurement>1</mShowVoltageMeasurement>
			<mShowOnAnnotationStack>0</mShowOnAnnotationStack>
		</px>
	</mInstantaneousSettings>
	<mRecordingSamples>0</mRecordingSamples>
	<mRecordingType>0</mRecordingType>
	<mEnableProtocolSearch>1</mEnableProtocolSearch>
	<mUseTraceColor>0</mUseTraceColor>
	<mUpsamplePipeline>1</mUpsamplePipeline>
	<mEnableCalibrations>1</mEnableCalibrations>
	<mChannelLabels class_id="26" tracking_level="0" version="0">
		<count>16</count>
		<item_version>0</item_version>
		<item class_id="27" tracking_level="0" version="0">
			<first class_id="28" tracking_level="0" version="0">
				<first>0</first>
				<second>0</second>
			</first>
			<second>Channel 0</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>1</second>
			</first>
			<second>Channel 1</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>2</second>
			</first>
			<second>Channel 2</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>3</second>
			</first>
			<second>Channel 3</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>4</second>
			</first>
			<second>Channel 4</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>5</second>
			</first>
			<second>Channel 5</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>6</second>
			</first>
			<second>Channel 6</second>
		</item>
		<item>
			<first>
				<first>0</first>
				<second>7</second>
			</first>
			<second>Channel 7</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>0</second>
			</first>
			<second>Channel 0</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>1</second>
			</first>
			<second>Channel 1</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>2</second>
			</first>
			<second>Channel 3</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>3</second>
			</first>
			<second>CS</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>4</second>
			</first>
			<second>DC</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>5</second>
			</first>
			<second>reset</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>6</second>
			</first>
			<second>Channel 6</second>
		</item>
		<item>
			<first>
				<first>1</first>
				<second>7</second>
			</first>
			<second>Channel 7</second>
		</item>
	</mChannelLabels>
	<mOverrideUsbPowerRestriction>0</mOverrideUsbPowerRestriction>
	<mUploadUsageStatistics>0</mUploadUsageStatistics>
	<mSuccessfulCaptures>59</mSuccessfulCaptures>
	<mFailedCaptures>87</mFailedCaptures>
	<mCrashCount>0</mCrashCount>
	<mSoftwareUpTime>0</mSoftwareUpTime>
	<mLastUploadedTime>20200415T232152</mLastUploadedTime>
	<mCheckForDeviceCalibration>1</mCheckForDeviceCalibration>
	<mUseTransferSizeLimit>0</mUseTransferSizeLimit>
	<mUserTransferSizeLimit>0</mUserTransferSizeLimit>
	<mShowDriverNeedsUpdate>1</mShowDriverNeedsUpdate>
</Settings>
</boost_serialization>

